@font-face {
	font-family:'AirConditioner';
	src:url('../AirConditioner.ttf') format('truetype');
}

body { font-family:Helvetica,sans-serif; font-size:12pt; }

h1 { font-family:'AirConditioner',Helvetica, sans-serif; text-align:center; font-size:4em; }

/*	Forms	*/
header input { color:red; }