@font-face {
	font-family:"AirConditioner";
	src:url("/AirConditioner.ttf") format("truetype");
}

body { font-family:Helvetica,sans-serif; }

/*	Structural	*/
footer {
	font-size:.8em;
	text-align:center;
}

/*	Typography	*/
h1 {
	font-family:'Lobster','AirConditioner',Helvetica, sans-serif;
	font-size:4em;
		
	text-align:center;
}

/*	Forms	*/
form, input {
	font-size:1.5em;
}

input { font-family:Helvetica,sans-serif; color:red; }